@import '../variables';
@import '../components';

#root {
    height: 100%;
    svg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: auto; height: 35%;
        opacity: .745;
    }
    .join-outer {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;
        border: 2px solid #ffffff66;
        border-radius: 1em;
        .join-inner {
            display: table-cell;
            vertical-align: middle;
            padding: 30px;
            .join-wrapper {
                display: flex;
                flex-direction: column;
                gap: 3em;
                width: 27%;
                margin: auto;
                .status {
                    color: red;
                    bottom: 0;
                    margin: 0;
                    height: 25px;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    gap: .3em;
                }
                h1 {
                    position: absolute;
                    top: -66px;
                    border-bottom: 2px solid $color-colored;
                    background: inherit;
                    right: 0;
                    left: 0;
                    width: 300px;
                    margin: auto;
                    padding: 0;
                    color: $color-secondary;
                    font-size: 3rem;
                }
                label {
                    font-size: .9em;
                    text-transform: uppercase;
                    letter-spacing: .9px;
                    color: $color-secondary;
                }
                input {
                    border: none;
                    $background: #ffffff91;
                    background: $background;
                    padding: 10px;
                    color: $color-tretiary;
                    width: 100%;
                    transition: .3s all;
                    &#room {
                        width: 58px;
                        margin: auto;
                        text-align: center;
                    }
                    &:focus {
                        outline: none;
                        color: $color-secondary !important;
                        background: #ffffff66;
                    }
                    &::placeholder {
                        color: #333;
                    }
                }
                a:focus {
                    outline: none;
                    box-shadow: 1px 1px 25px 10px rgba($color-colored, 0.4);
                }
                button {
                    overflow: hidden;
                    position: relative;
                    border: none;
                    background: none;
                    padding: 10px;
                    width: 100%;
                    color: #ddd;
                    word-break: break-word;
                    text-transform: uppercase;
                    font-size: .8em;
                    border: 1px solid $color-secondary;
                    transition: .3s all;
                    &.active {
                        background: $color-tretiary;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: 1px 1px 25px 10px rgba($color-colored, .4);
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(
                            120deg,
                            transparent,
                            rgba($color-colored, .4),
                            transparent
                        );
                        transition: all 650ms;
                    }
                    &:hover:before {
                        left: 100%;
                    }
                    span {
                        color: $color-colored;
                        font-weight: 800;
                        letter-spacing: .5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .join-outer {
        .join-inner {
            .join-wrapper {
                width: 70% !important;
                gap: 2em !important;
                h1 {
                    position: static !important;
                    width: auto !important;
                }
            }
        }
        svg {
            max-width: 100%;
            height: 25% !important;
        }
    }
}

@media screen and (max-width: 568px) {
    .join-outer {
        svg {
            height: 20% !important;
        }
    }
}