* {
    box-sizing: border-box;

    &::selection {
        background: $color-colored;
        color: $color-primary;
    }
}

html, body {
    font-family: $font-default;
    height: 100%;
    margin: 0;
}

body {
    @extend .body-bg;
    color: $color-primary;
    padding: 5% 20%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: $color-tretiary;
}

.container {
    max-width: 1340px;
    margin: auto;
    padding: 0 15px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 0;
    color: rgba($color-primary, .6);
    span {
        font-weight: bold;
    }
}

@media screen and (max-width: 568px) {
    body {
        padding: 31px 0 0 0 !important;
    }
    footer {
        top: 0; bottom: auto;
        font-size: .85em;
    }
    .outer-chat {
        border-radius: 0 !important;
    }
}

