$color-primary: #ddd;
$color-secondary: gainsboro;
$color-tretiary: #212121;
$color-colored: #642b73;

$font-default: 'Segoe UI', arial;

.body-bg {
    background: #0F2027;  /* fallback for old browsers */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background-size: 400% 400%;
    animation: bg-move 10s ease infinite;
}


@keyframes bg-move {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}